

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}

a:hover {
    color: rgb(27, 107, 70);
    text-shadow: 1px 1px;
}

h1.section-title {
    font-size: 40px;
}

.header {
    background: linear-gradient(90deg, #6fa776, #447888, #948759, #99608d);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.footer {
    height: 100px;
    background: linear-gradient(90deg, #6fa776, #447888, #948759, #99608d);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}

.footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    
}

.footer-item img {
    height: 60px;
}

.date {
    font-size: 32px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    
}

.section {
    padding: 0 50px;
}

.section-title {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #708573;
}

.section-code {
    grid-area: code;
}

.section-languages {
    grid-area: languages;
    background-color:#d4ede7;
}

.section-projects {
    grid-area: projects;
}

.section-skills {
    grid-area: skills;
    background-color:#d4ede7;
}

.section-contacts {
    grid-area: contacts;
    background-color:#d4ede7;
}

.section-summary {
    grid-area: summary;
}

.section-education {
    grid-area: education;
}

.section-courses {
    grid-area: courses;
}

.main-container {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "contacts summary"
        "contacts education"
        "contacts courses"
        "skills code"
        "languages projects";
    border-right: 14px #d0dfe2 solid;
    border-left: 14px #d0dfe2 solid;
}

@media(max-width: 1140px) {
    .main-container {
        grid-template-areas:
        "contacts contacts"
        "summary summary"
        "education courses"
        "skills code"
        "languages projects";
    }
    .section-contacts {
        display: flex;
    }
    .subwrapper {
        padding-right: 50px;
    }
    .section-languages {
        background-color: #d4ede7;
    }
    .section-skills {
        background-color: #d4ede7;
    }
    .section-education {
        background-color:#d4ede7;
    }
    .section-summary {
        border-bottom: 14px #d4ede7 solid;
    } 

}

@media(max-width: 800px) {
    .section-contacts {
        flex-direction: column;
    }
    .section {
        padding: 10%;
    }
}

@media(max-width: 960px) {
    .main-container {
        grid-template-areas:
        "contacts contacts"
        "summary summary"
        "education education"
        "courses courses"
        "skills skills"
        "code code"
        "languages languages";
    }
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    padding: 20px;
    line-height: 50px;
    font-size: 24px;
    color: white;
}

.avatar-wrapper {
    margin-left: 12%;
    margin-bottom: 50px;
    text-align: center;
    overflow: hidden;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #d4ede7;
    transition: all 0.7s ease;
}
.avatar-wrapper:hover {
    filter: saturate(150%) drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.avatar {
    width: 200px;
    /* filter: grayscale(100%); */
    transition: all 0.7s ease;
    

}
.avatar:hover {
    /* filter: grayscale(0%) ; */
    transform: scale(1.05) translate(0, 10px);
}

.contacts-wrapper {
    display: flex;
}

.contact-services {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 30px;
}

.scale {
    max-width: 300px;
    height: 10px;
    border: 1px #708573 solid;
}

.scale-ratio-70 {
    width: 70%;
    height: 100%;
    background-color: #708573
}

.scale-ratio-50 {
    width: 50%;
    height: 100%;
    background-color: #708573
}

.scale-ratio-40 {
    width: 40%;
    height: 100%;
    background-color: #708573
}